Source: ros-lyrical-osrf-testing-tools-cpp
Section: misc
Priority: optional
Maintainer: Geoffrey Biggs <geoff@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/osrf_testing_tools_cpp/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-osrf-testing-tools-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-ros-workspace
Description: Testing tools for C++, and is used in various OSRF projects.
